.inventory-customize-container-height{
    height: 550px;
}

.inventory-customize-dropdown{
    z-index: 3; 
    background-color: #fbfbfb; 
    position: absolute; 
    width: 590px;
}

/* Custom table */
.customize-table-container {
    max-height: 450px; /* Adjust this value to control the maximum height of the table body */
    overflow-y: auto;
}

table {
    width: 100%;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: #dcdcdc;
    z-index: 2;
}